<!DOCTYPE html>
<html>
 	<head>
		<title>SNAP - Lambien</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">		
		<link rel="stylesheet" href="/static/css/main.css" />
		<script src="/static/js/recorder.js"></script>
		<script src="/static/js/Fr.voice.js"></script>
		<script src="/static/js/jquery.js"></script>
		<script src="/static/js/app.js"></script>
 	</head>
 	<body>
		<img class="logo" src="/static/img/snap_logo.png" />
		<h2>LAMBIEN</h2>
		<h3>Record your voice below</h3>
		<canvas id="level" height="180" width="300"></canvas>
		<audio controls src="" id="audio"></audio>
		<div class="buttons">
			<button class="button" id="record">Record</button>
			<button class="button disabled one" id="pause">Pause</button>
			<button class="button disabled one" id="stop">Reset</button>
			<button class="button disabled one" id="play">Play</button>
			<button class="button disabled one" id="download">Download</button>
			<button class="button disabled one" id="base64">Base64 URL</button>
			<button class="button disabled one" id="mp3">MP3 URL</button>
		</div>
		<button class="button disabled one" id="save">Send to Lambien</button>
		<input class="button" type="checkbox" id="live"/>
		<label for="live">Live Output</label>
 	</body>
</html>

